<!-- movie info -->
<div class="row">
    <!-- left side margin -->
    <div class="col-lg-1 col-0"></div>
  
    <div class="col-lg-10 col-12">
      
        <img class="rounded mt-5 mx-auto d-block" alt="Image not found" src="<%- movie.poster %>">
        <h4 class="mt-4 text-center"><%= movie.title  %></h4>
        <p class="mt-2 text-justify"><%= movie.plot  %></p>
        
    </div>
    
    <!-- right side margin -->
    <div class="col-lg-1 col-0"></div>
</div>