<!-- movie info -->
<div class="row">
    <!-- left side margin -->
    <div class="col-lg-1 col-0"></div>
  
    <div class="col-lg-10 col-12">
        <a href="/movie/details/<%= movie.imdb_id%>" >
            <img class="rounded mt-5 mx-auto d-block" alt="img not found" src="<%- movie.poster %>">
            <h4 class="mt-2 text-center"><%= movie.title  %></h4>
        </a>
        <p class="mt-0 5 text-center"><%= movie.year  %></p>
        
    </div>
    
    <!-- right side margin -->
    <div class="col-lg-1 col-0"></div>
</div>