<%- include("../commons/header") -%>

<!--Navbar -->
<%- include("../commons/navbar") -%>

<div class="container">

    <%- include("../forms/comment") -%>   
    
</div>


<%- include("../commons/footer") -%>