<h2>Sign up</h2>
<form method="POST" action="/register" enctype="x-www-form-urlencoded" >
    <div class="form-group">
        <label for="sign_up_email">Email address</label>
        <input type="email" class="form-control" name="email" id="sign_up_email" aria-describedby="emailHelp" disabled>
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    
    <div class="form-group">
        <label for="sing_in_username">Username</label>
        <input type="text" class="form-control" name="username" id="sing_in_username">
    </div>
    
    <div class="form-group">
        <label for="sign_in_password">Password</label>
        <input type="password" class="form-control" name="password" id="sign_in_password">
        <small id="password_help" class="form-text text-muted">Please don't reuse your passwords</small>
    </div>
    
    <button type="submit" class="btn btn-primary">Sign up</button>
</form>        
 