<h2>Log in</h2>
<form method="POST" action="/login" enctype="x-www-form-urlencoded" >
    
    <div class="form-group">
        <label for="sign_in_username">Username</label>
        <input type="text" class="form-control" name="username" id="sign_in_username">
    </div>
    
    <div class="form-group">
        <label for="sign_in_password">Password</label>
        <input type="password" class="form-control" name = "password" id="sign_in_password">
    </div>

    <!--
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="cb_keep_me_signed_in">
        <label class="form-check-label" for="cb_keep_me_signed_in">Keep me signed in</label>
    </div>
    -->

    <button type="submit" class="btn btn-primary">Sign in</button>
</form>