<h2>Log in</h2>
<form method="POST" action="/login" enctype="x-www-form-urlencoded" >
    
    <div class="form-group">
        <label for="sign_in_username">Username</label>
        <input type="text" class="form-control" name="username" id="sign_in_username">
        
        <% if(locals.query && locals.query.username == "incorrect") { %> 
            <small id="username_help" class="form-text text-danger">Non existent username</small>
        <% } %> 

    </div>
    
    <div class="form-group">
        <label for="sign_in_password">Password</label>
        <input type="password" class="form-control" name = "password" id="sign_in_password">
        
        <% if(locals.query && locals.query.password == "incorrect") { %> 
            <small id="password_help" class="form-text text-danger">Incorrect password</small>
        <% } %> 
    </div>

    <!--
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="cb_keep_me_signed_in">
        <label class="form-check-label" for="cb_keep_me_signed_in">Keep me signed in</label>
    </div>
    -->

    <button type="submit" class="btn btn-primary">Sign in</button>
</form>